body {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 400;
  color: #483D3D;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: url(../img/bg.jpg); }

body,
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-kerning: normal;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal; }

.mobile-type-paragraph, .work-content p {
  font-size: 14px;
  line-height: 20px; }

.mobile-type-h3, .work-content h3 {
  font-size: 18px;
  line-height: 20px; }

::-moz-selection {
  background: #FF8000; }

::selection {
  background: #FF8000; }

@media (min-width: 800px) {
  .row {
    width: 100%;
    display: table;
    table-layout: fixed; }

  .col {
    display: table-cell; } }
.row-mobile-full {
  width: 100%;
  display: table;
  table-layout: fixed;
  padding: 0px;
  margin: 0px; }

.col-2-mobile {
  display: table-cell;
  padding: 0;
  margin: 0; }

a, a:visited {
  color: #00A7F7; }

a:hover {
  color: #0086D4; }

.reg-list, div.mobile-nav ul.nav-list, .mobile-nav-right ul.contact-info, .mobile-nav-right div.social-media ul, .contact-btn-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 0; }
  .reg-list li, div.mobile-nav ul.nav-list li, .mobile-nav-right ul.contact-info li, .mobile-nav-right div.social-media ul li, .contact-btn-wrapper ul li {
    padding: 0;
    margin: 0;
    text-indent: 0; }
    .reg-list li a, div.mobile-nav ul.nav-list li a, .mobile-nav-right ul.contact-info li a, .mobile-nav-right div.social-media ul li a, .contact-btn-wrapper ul li a {
      text-decoration: none;
      color: #111; }

.container {
  max-width: 100%;
  margin: 0 auto;
  position: relative; }

.desktop-nav {
  display: none; }

nav {
  padding: 10px 0px;
  background: #fff;
  color: #111;
  border-bottom: 1px solid #333;
  z-index: 9999999; }
  nav div.menu-header-wrapper {
    display: block;
    position: relative; }
  nav i {
    font-size: 20px;
    margin-left: 10px;
    line-height: 0px;
    position: relative;
    top: 3px; }
  nav h1 {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
    font-size: 18px;
    position: relative;
    top: 1px;
    font-family: 'franklin-gothic-urw'; }
  nav h2.mobile-hidden {
    display: none; }

.nav-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%; }

.menu-navigation-wrapper {
  position: absolute;
  left: -100%;
  width: 100%;
  transition: 0.2s left;
  z-index: 0; }

.show-mobile-nav {
  left: 0px; }

div.mobile-nav {
  position: relative;
  top: 0px; }
  div.mobile-nav ul.nav-list li a {
    font-family: 'franklin-gothic-urw';
    padding: 22px 0px 16px 0px;
    padding-left: 40px;
    line-height: 20px;
    display: block;
    background: #ddd;
    border-bottom: 1px solid #aaa;
    font-size: 20px; }

.mobile-nav-left {
  background: #ddd; }

.mobile-nav-right {
  background: #999;
  height: 100%;
  position: relative; }
  .mobile-nav-right h1 {
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    color: #fff;
    font-family: 'franklin-gothic-urw';
    font-weight: 400;
    margin-bottom: 19px;
    position: relative;
    top: -1px; }
  .mobile-nav-right ul.contact-info {
    width: 100%;
    text-align: right; }
    .mobile-nav-right ul.contact-info li {
      padding-right: 10px;
      margin-bottom: 6px; }
      .mobile-nav-right ul.contact-info li a {
        font-size: 16px;
        font-family: 'franklin-gothic-urw';
        font-weight: 100;
        text-decoration: underline;
        color: #fff; }
  .mobile-nav-right div.social-media {
    position: absolute;
    bottom: 0px;
    width: 100%; }
    .mobile-nav-right div.social-media ul {
      width: 100%;
      text-align: right;
      padding-bottom: 4px; }
      .mobile-nav-right div.social-media ul li {
        display: inline-block;
        margin-right: 10px; }
        .mobile-nav-right div.social-media ul li i {
          font-size: 42px;
          color: #fff; }

#bg-image {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  cursor: crosshair; }

.canvas-container {
  overflow: hidden; }

.intro-section {
  height: 80vh; }

.type-set {
  vertical-align: middle;
  height: 80vh; }

h1.section-title {
  font-size: 60px;
  font-family: 'verveine'; }

.content-container {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 30px;
  overflow-x: hidden; }

.project-hero-img {
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
  background: #999;
  display: table; }
  .project-hero-img .col {
    vertical-align: middle;
    color: #fff;
    display: table-cell; }
    .project-hero-img .col h1 {
      font-family: 'verveine';
      font-size: 48px;
      font-weight: 100;
      margin: 0; }

img.responsive {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block; }

img.extra-margin {
  margin: 20px auto; }

@media (max-width: 800px) {
  h1.intro-heading {
    left: 0px !important; } }
h1.intro-heading {
  margin: 0;
  padding: 10px;
  font-size: 28px;
  font-weight: 100;
  line-height: 32px;
  width: 100% !important;
  padding: 0 10px;
  box-sizing: border-box;
  color: #000;
  font-family: 'verveine';
  position: absolute; }

h1.section-title {
  font-size: 32px;
  color: #111;
  text-align: center;
  margin: 30px auto 20px auto; }

.work-section {
  text-align: center;
  padding: 40px 0px; }

#work {
  height: 0px;
  margin: 0px;
  position: relative;
  top: -45px;
  transition: 0.3s opacity; }

.hide-work-title {
  opacity: 0; }

.work-item {
  position: relative;
  height: 120px; }
  .work-item .work-image {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
    background: #B1E5FD; }
  .work-item .work-info {
    position: absolute;
    left: 130px;
    top: 30px; }
    .work-item .work-info h1, .work-item .work-info h2 {
      margin: 0;
      font-family: "franklin-gothic-urw", sans-serif;
      font-size: 22px;
      color: #fff;
      text-align: left; }
    .work-item .work-info h2 {
      font-weight: 400; }

.bio-section {
  background: url(../img/surf.jpg);
  background-size: 100% auto;
  width: 100%;
  height: 40vh;
  position: relative;
  margin-bottom: 40px; }
  .bio-section .col-2-mobile {
    width: 100%;
    height: 100%;
    vertical-align: middle; }
    .bio-section .col-2-mobile h1 {
      color: #fff;
      font-weight: 100;
      text-align: center;
      font-family: 'verveine';
      font-size: 28px; }

.profile-pic-wrapper {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: -50px;
  left: 0px; }
  .profile-pic-wrapper div.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: url(../img/profile.png);
    background-size: cover;
    margin: 0 auto; }

.bio-section-2 p {
  font-family: 'franklin-gothic-urw';
  font-weight: 400;
  color: #111;
  padding: 0 10px; }

.contact-btn-wrapper {
  padding-top: 10px;
  padding-bottom: 30px; }
  .contact-btn-wrapper ul {
    text-align: center; }
    .contact-btn-wrapper ul li {
      font-family: 'franklin-gothic-urw';
      font-weight: 400;
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      line-height: 50px;
      background: #111;
      margin: 0px 4px; }
      .contact-btn-wrapper ul li a {
        color: #fff;
        font-size: 28px;
        position: relative;
        top: 1px; }
      .contact-btn-wrapper ul li.cv {
        font-size: 22px;
        line-height: 50px;
        position: relative;
        top: -2px; }
        .contact-btn-wrapper ul li.cv a {
          font-size: 20px;
          font-weight: 100;
          letter-spacing: 1px;
          top: 0px; }

.back-to-projects {
  background: #ccc;
  padding: 4px 10px 4px 1px;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  top: -2px; }
  .back-to-projects a {
    text-decoration: none;
    color: #333;
    position: relative;
    top: 0px;
    font-family: 'franklin-gothic-urw';
    font-size: 15px;
    font-weight: 400; }
    .back-to-projects a:visited {
      color: #333; }
    .back-to-projects a i {
      margin-right: 6px;
      position: relative;
      top: 1px;
      font-size: 15px; }

.work-title {
  font-size: 32px;
  color: #111;
  text-align: center;
  margin: 30px auto 20px auto; }

.work-section {
  opacity: 1;
  transition: 0.5s opacity; }

.work-content p {
  font-family: 'franklin-gothic-urw';
  padding: 0 10px;
  color: #111;
  font-weight: 200; }
.work-content h3 {
  font-family: 'franklin-gothic-urw';
  padding: 0 10px;
  margin: 0px 0px -6px 0px;
  text-align: center; }

.project-gallery li.dot {
  background: #7DD3FC; }

.project-title {
  font-size: 32px;
  padding: 0 10px;
  margin: 20px 0px 0px 0px;
  text-align: center; }

.project-subtitle {
  text-align: center;
  font-family: 'franklin-gothic-urw';
  font-size: 18px;
  font-weight: 200;
  margin: 0px;
  margin-bottom: 2px;
  padding: 0 10px; }

.project-url {
  text-align: center;
  margin: 0; }
  .project-url a {
    color: #fff;
    font-family: 'franklin-gothic-urw';
    font-weight: 100;
    font-size: 18px;
    transition: color 0.2s; }
    .project-url a:hover {
      color: #FF8000; }

.project-hr {
  margin: 20px auto 20px auto;
  width: 80%;
  border: none;
  border-top: 1px solid #ccc; }

.project-gallery {
  margin-bottom: 50px; }

footer {
  width: 100%;
  height: 200px;
  background: #00559D;
  display: table;
  table-layout: fixed; }
  footer .row-mobile-full {
    margin-bottom: 10px;
    margin-top: 10px; }
  footer .col {
    height: 100%;
    display: table-cell;
    padding: 0;
    margin: 0;
    vertical-align: middle; }
  footer .col-2-mobile {
    position: relative; }
    footer .col-2-mobile .footer-project-img {
      height: 100%;
      width: 50px;
      position: absolute;
      top: 0px;
      left: 0px;
      background: url(../img/surf.jpg);
      background-size: cover; }
    footer .col-2-mobile h1, footer .col-2-mobile h2 {
      color: #fff;
      font-family: 'franklin-gothic-urw';
      font-size: 14px;
      font-weight: 100;
      margin: 0px;
      position: absolute;
      left: 60px;
      top: 9px; }
    footer .col-2-mobile h2 {
      top: 26px; }
  footer .footer-left-side {
    text-align: center; }
    footer .footer-left-side span {
      display: inline-block;
      color: white;
      font-family: 'franklin-gothic-urw';
      font-weight: 100;
      padding: 10px;
      border: 1px solid #fff;
      border-radius: 8px; }
  footer .footer-right-side a {
    display: table-cell;
    width: 100%; }
  footer .footer-right-side .col-2-mobile {
    height: 50px;
    display: block; }
  footer .footer-home-btn {
    vertical-align: middle; }

.quote-block {
  padding-left: 30px;
  border-left: 1px solid #ccc;
  margin: 30px 0; }

.quote-source {
  font-weight: 500 !important;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  top: -20px; }

.quote-img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-size: cover !important;
  display: inline-block;
  position: relative;
  top: 19px;
  margin-right: 10px; }

.quote-aaron {
  background: url(../img/aaron.jpg); }

.quote-cheryl {
  background: url(../img/cheryl.jpg); }

.quote-courtney {
  background: url(../img/courtney.jpg); }

.quote-leif {
  background: url(../img/leif.jpg); }

#scoot-project {
  background: url(../img/scoot-project-dark-mobile.jpg);
  background-size: cover; }

#everlane-project {
  background: url(../img/everlane-project-dark.jpg);
  background-size: cover; }

#revolver-project {
  background: url(../img/revolver-project-dark.jpg);
  background-size: cover; }

#bamm-project {
  background: url(../img/bamm-project-dark.jpg);
  background-size: cover; }

#gc-project {
  background: url(../img/gc-title-mobile.png);
  background-size: cover; }

.online-demo-container {
  width: 100%;
  padding: 10px 0;
  background: #eee;
  border-radius: 8px;
  text-align: center; }

h1.link-list-heading {
  font-family: 'franklin-gothic-urw';
  margin-left: 10px;
  font-size: 18px; }

img.border {
  border: 1px solid #ddd; }

.video-cell {
  text-align: center; }
  .video-cell p {
    margin: 0 auto;
    padding: 6px 0 30px 0;
    font-size: 14px; }

.gallery-cell {
  position: relative; }
  .gallery-cell img {
    display: block;
    margin: 10px auto; }

.title-cell {
  position: relative; }

span.mobile-tag {
  display: block;
  text-align: center;
  font-family: 'franklin-gothic-urw';
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 20px 0; }

.info-tag {
  background: white;
  color: #111;
  border: 1px solid #ccc;
  padding: 6px 12px;
  position: absolute;
  bottom: -6px;
  right: -6px;
  border-radius: 2px;
  font-family: 'franklin-gothic-urw';
  font-weight: 400;
  font-size: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }

.link-list {
  text-indent: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 20px; }
  .link-list li {
    padding: 0px;
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 10px; }
    .link-list li span {
      color: #333;
      display: inline-block;
      padding: 8px 15px;
      background: #eee;
      border: 1px solid #999;
      box-shadow: inset 2px 2px 10px #fff;
      border-radius: 4px;
      font-family: 'franklin-gothic-urw';
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
      /* Likely future */
      margin-left: 10px; }
      .link-list li span:hover {
        border-color: #666; }
      .link-list li span:active {
        box-shadow: inset 2px 2px 10px #aaa; }

.work-section {
  background: #eee; }
  .work-section a {
    text-decoration: none; }

.img-col, .coming-soon {
  display: none; }

.work-item .work-info {
  top: 36px; }
  .work-item .work-info h1, .work-item .work-info h2 {
    color: #333;
    font-size: 20px; }

#image-gap {
  background: url(../img/gap-thumbnail.png); }

#image-everlane {
  background: url(../img/everlane-thumbnail.jpg); }

#image-scoot-networks {
  background: url(../img/scoot-thumbnail.jpg); }

#image-revolver-yoga {
  background: url(../img/revolver-thumbnail.png); }

#image-bamm {
  background: url(../img/bamm-thumbnail.png); }

#image-graphics-center {
  background: url(../img/gc-thumbnail.gif); }

@media (min-width: 800px) {
  #scoot-project {
    background: url(../img/scoot-project-dark.jpg);
    background-size: cover; }

  #gc-project {
    background: url(../img/gc-title.png);
    background-size: cover; }

  .video-cell p {
    font-size: 16px;
    margin-bottom: 20px; }

  div.mobile-nav, nav {
    display: none; }

  .add-shadow {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) !important;
    background: rgba(255, 255, 255, 0.9);
    transition: none !important; }

  .desktop-nav {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    padding: 20px 20px 10px 20px;
    transition: 0.2s left;
    border-bottom-right-radius: 16px;
    box-shadow: none; }
    .desktop-nav h1 {
      margin: 0;
      line-height: 16px;
      margin-bottom: 10px;
      font-size: 18px; }
    .desktop-nav h2 {
      display: block;
      font-family: 'franklin-gothic-urw';
      font-size: 16px;
      line-height: 16px;
      font-weight: 300;
      margin: 0;
      margin-top: 2px; }
    .desktop-nav ul.nav-list-desktop {
      padding: 0;
      margin: 0;
      list-style: none;
      text-indent: 0;
      margin-top: 20px;
      font-family: 'franklin-gothic-urw'; }
      .desktop-nav ul.nav-list-desktop li {
        padding: 0;
        margin: 0;
        margin-bottom: 4px;
        text-indent: 0;
        font-size: 16px;
        font-weight: 300; }
        .desktop-nav ul.nav-list-desktop li a {
          text-decoration: underline;
          color: #333; }
          .desktop-nav ul.nav-list-desktop li a:active {
            color: #333; }

  .hide-desktop-nav {
    left: -200px; }

  nav {
    background: none;
    position: absolute;
    top: 20px;
    left: 20px;
    border: none;
    padding: 0; }

  .menu-header-wrapper .menu-icon {
    display: none; }

  .type-set {
    background: none;
    height: auto;
    z-index: 9999; }

  .canvas-container {
    position: relative;
    height: 100vh; }
    .canvas-container h1 {
      position: absolute;
      max-width: 66%;
      left: 0px;
      top: 189px;
      margin: 0 auto;
      font-size: 54px;
      line-height: 60px;
      color: #000; }

  h1.section-title {
    font-size: 60px;
    font-family: 'verveine'; }

  .bio-section .col-2-mobile h1 {
    font-size: 60px; }

  .work-content p {
    font-family: 'franklin-gothic-urw';
    padding: 0 10px;
    color: #111;
    font-weight: 200;
    font-size: 18px;
    line-height: 26px; }
  .work-content h3 {
    font-family: 'franklin-gothic-urw';
    font-size: 24px;
    font-weight: 500;
    padding: 0 10px;
    margin: 0px 0px -6px 0px;
    text-align: center; }

  span.mobile-tag {
    font-size: 16px; }

  .video-cell p {
    font-size: 16px; }

  .img-col {
    display: table-cell; }

  .coming-soon {
    background: rgba(0, 0, 0, 0.5);
    z-index: 100000;
    width: 100%;
    height: 100%;
    position: absolute;
    display: table; }
    .coming-soon:hover {
      cursor: not-allowed; }
    .coming-soon .col {
      vertical-align: middle; }
    .coming-soon p {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      font-family: 'franklin-gothic-urw'; }

  #work {
    top: -80px; }

  .work-section {
    background: #ddd; }

  .work-item {
    position: relative;
    width: 38%;
    height: 340px;
    display: inline-block;
    margin: 10px; }
    .work-item .work-image {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      background-size: cover !important; }
    .work-item .work-info {
      position: absolute;
      top: auto;
      right: 16px;
      bottom: 10px; }
      .work-item .work-info h1, .work-item .work-info h2 {
        margin: 0;
        text-align: right;
        font-family: "franklin-gothic-urw", sans-serif;
        font-size: 22px;
        color: #fff; }
      .work-item .work-info h1 {
        font-weight: 400;
        letter-spacing: 0.5px; }
      .work-item .work-info h2 {
        font-weight: 100; }

  #gap-gradient {
    -webkit-animation: moveGradient 6s ease infinite;
    -moz-animation: moveGradient 6s ease infinite;
    animation: moveGradient 6s ease infinite;
    background: linear-gradient(89deg, #01834B, #0086d4);
    background-size: 400% 400%; }

  #image-gap {
    background: none; }
    #image-gap .col {
      vertical-align: middle; }

  #image-everlane {
    background: url(../img/everlane-project.gif); }

  #image-scoot-networks {
    background: url(../img/scoot-project.jpg); }

  #image-revolver-yoga .col {
    background: #555;
    vertical-align: middle; }
    #image-revolver-yoga .col .animation-container {
      width: 120px;
      height: 120px;
      position: relative;
      display: inline-block; }
      #image-revolver-yoga .col .animation-container img {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        animation: spin 4s infinite;
        animation-timing-function: cubic-bezier(0.18, 0.89, 0.25, 1);
        -webkit-animation: spin 4s infinite;
        -webkit-animation-timing-function: cubic-bezier(0.18, 0.89, 0.25, 1);
        -moz-animation: spin 4s infinite;
        -moz-animation-timing-function: cubic-bezier(0.18, 0.89, 0.25, 1); }
    #image-revolver-yoga .col .work-info h1, #image-revolver-yoga .col .work-info h2 {
      color: #fff; }

  #image-bamm {
    background: url(../img/bamm-project.gif);
    border: 1px solid #666; }

  #image-graphics-center {
    background: url(../img/graphic-center-project.gif); }

  .dark-text {
    color: #333 !important; }

  h1.dark-text {
    font-weight: 500 !important; }

  @-webkit-keyframes spin {
    0% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(360deg); } }
  @-moz-keyframes spin {
    0% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(360deg); } }
  @keyframes spin {
    0% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(360deg); } }
  @-webkit-keyframes moveGradient {
    0% {
      background-position: 0% 51%; }
    50% {
      background-position: 100% 50%; }
    100% {
      background-position: 0% 51%; } }
  @-moz-keyframes moveGradient {
    0% {
      background-position: 0% 51%; }
    50% {
      background-position: 100% 50%; }
    100% {
      background-position: 0% 51%; } }
  @keyframes moveGradient {
    0% {
      background-position: 0% 51%; }
    50% {
      background-position: 100% 50%; }
    100% {
      background-position: 0% 51%; } }
  .bio-section .profile-pic {
    background: url(../img/profile.png);
    display: none; }

  .bio-section-2 .bio-statement {
    width: 100%;
    margin: 0 auto;
    display: block; }
    .bio-section-2 .bio-statement p {
      font-family: 'franklin-gothic-urw';
      font-weight: 100;
      font-size: 18px;
      line-height: 26px;
      color: #111;
      padding: 0 10px;
      max-width: 800px;
      margin: 0 auto;
      margin-bottom: 20px; }

  .project-gallery .col, .project-gallery .col-2-mobile {
    background: #fff;
    padding: 0 6px;
    text-align: center;
    overflow: hidden; }

  .half {
    display: inline-block;
    width: 47%;
    overflow: hidden;
    margin: 0 4px; }

  .include-half {
    text-align: center; } }
