@font-face {
  font-family: 'martin gothic';
  src: url("../fonts/martin-gothic-medium.eot");
  src: url("../fonts/martin-gothic-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/martin-gothic-medium.woff") format("woff"); }
body {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 400;
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: "lnum";
  -o-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  color: #483D3D;
  margin: 0px;
  padding: 0px;
  font-family: 'martin gothic'; }

body,
html {
  height: 100%; }

body {
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
