// import font
@font-face {
  font-family: 'martin gothic medium';
  src: url('../fonts/martin-gothic-medium.eot');
  src: url('../fonts/martin-gothic-medium.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/martin-gothic-medium.woff') format('woff')
}

@font-face {
  font-family: 'martin gothic light';
  src: url('../fonts/martin-gothic-light.eot');
  src: url('../fonts/martin-gothic-light.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/martin-gothic-light.woff') format('woff')
}

body {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 400;
  
  color: #483D3D;
  margin:0px;
  padding:0px;
  font-family: 'martin gothic medium';
  overflow-x:hidden;

}

body,
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-kerning: normal;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
}

body {
    //background: url(../_images/6a.jpg);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }

// colors

$blue-500: #333;
$blue-450: #00559D;
$blue-400: #0086D4;
$blue-300: #00A7F7;
$blue-200: #7DD3FC;
$blue-100: #B1E5FD;
$blue-000: #E0F5FF;

$franklin: 'franklin-gothic-urw', sans-serif;

$first-break: 700px;
$mobile-padding: 0 10px;

@media (min-width: $first-break) {
  .row { width: 100%; display: table; table-layout: fixed; }
  .col { display: table-cell; }
}

.row-mobile-full { width: 100%; display: table; table-layout: fixed; padding: 0px; margin: 0px; }
.col-2-mobile{
  display: table-cell;
  padding: 0;
  margin: 0;
}



.reg-list{
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 0;
  li{
    padding: 0;
    margin: 0;
    text-indent: 0;
    a{
      text-decoration: none;
      color: $blue-500;
    }
  }
}


.container{
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.desktop-nav{ display: none; }
nav{
  padding:10px 0px;
  background: #fff;
  color: $blue-500;
  border-bottom: 1px solid #333;
  z-index: 9999999;
  div.menu-header-wrapper{
    display: block;
    position: relative;
  }

  i{
    font-size: 20px;
    margin-left: 10px;
    line-height: 0px;
    position: relative;
    top: 3px;
  }

  h1{
    display: inline-block;
    margin: 0;
    margin-left: 10px;
    //letter-spacing: 0.5px;
    position: relative;
    top: 3px;
    font-family: 'martin gothic light';
  }
  h2.mobile-hidden{
    display: none;
  }
}
.nav-wrapper{
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
}

.menu-navigation-wrapper{
  position: absolute;
  left: -100%;
  width: 100%;
  transition: 0.2s left;
  z-index: 0;
}

.show-mobile-nav{
  left: 0px;
}
// mobile nav row
div.mobile-nav{
  position: relative;
  top: 0px;
  ul.nav-list{
    @extend .reg-list;
    li{
      a{
        font-family: 'martin gothic light';
        padding: 22px 0px 16px 0px;
        padding-left: 40px;
        line-height: 20px;
        display: block;
        background: $blue-000;
        border-bottom: 1px solid $blue-200;
        font-size: 20px;
      }
    }
  }
}
.mobile-nav-left{
  background: $blue-000;
}
.mobile-nav-right{
  background: $blue-450;
  height: 100%;
  position: relative;
  h1{
    font-size: 24px;
    text-align: right;
    padding-right: 10px;
    //letter-spacing: 1px;
    color: #fff;
    font-family: 'martin gothic light';
    margin-bottom: 19px;
    position: relative;
    top: -1px;
  }
  ul.contact-info{
    width: 100%;
    text-align: right;
    @extend .reg-list;
    li{
      padding-right: 10px;
      margin-bottom: 6px;
      a{
        font-size: 16px;
        font-family: $franklin;
        font-weight: 100;
        text-decoration: underline;
        color: $blue-300;
      }
    }
  }

  div.social-media{
    position: absolute;
    bottom: 0px;
    width: 100%;
    ul{
      @extend .reg-list;
      width: 100%;
      text-align: right;
      padding-bottom: 4px;
      li{
        display: inline-block;
        margin-right: 10px;
        i{
          font-size: 42px;
          color: $blue-300;
        }
      }
    }
  }
}

// bg paper
#bg-image{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  cursor: crosshair;
  //z-index: 0;
}
.canvas-container{
overflow: hidden;
  }
// intro section
.intro-section{
  height: 80vh;
}
.type-set{
  vertical-align: middle;
  height: 80vh;
  //background: rgba(0,134,212,0.8);
}
@media (max-width: $first-break) {
  h1.intro-heading{
    left: 0px !important;
  }
}
h1.intro-heading{
    margin: 0;
    padding: 10px;
    font-size: 28px;
    line-height: 32px;
    width: 100% !important;
    padding: 0 20px;
    box-sizing: border-box;
    color: #000;
    font-family: 'martin gothic light';
    position: absolute;
    //letter-spacing: 0.5px;

  }

h1.section-title{
  font-size: 32px;
  color: $blue-500;
  text-align: center;
  margin: 30px auto 20px auto;
}

// work section
.work-section{
  background: #eee;
  text-align: center;
  padding: 40px 0px;
}
#work{
  height: 0px;
  margin: 0px;
  position: relative;
  top: -45px;
  transition: 0.3s opacity;
}
.hide-work-title{
  opacity: 0;
}
// work image
.work-item{
  position: relative;
  height: 120px;
  .work-image{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
    background: $blue-100;
  }
  .work-info{
    position: absolute;
    left: 130px;
    top: 30px;
    h1,h2{
      margin: 0;
      font-family: $franklin;
      font-size: 22px;
      color: $blue-500;
      text-align: left;
    }
    h1{
    }
    h2{
      font-weight: 400;
    }

  }
} // end of work item

// bio section




.bio-section{
  background: url(../img/surf.jpg);
  background-size: 100% auto;
  width: 100%;
  height: 40vh;
  //background-repeat: no-repeat;
  //vertical-align: middle;
  position: relative;
  margin-bottom: 80px;
  .col-2-mobile{
    width: 100%;
    height: 100%;
    vertical-align: middle;

    h1{
      color:#fff;
      letter-spacing: 1px;
      text-align: center;
      font-family: 'martin gothic light';
      font-size: 28px;
    }
  }
}

.profile-pic-wrapper{
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: -50px;
  left:0px;
  div.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: url(../img/profile.png);
    background-size: cover;
    margin: 0 auto;
  }
}

// bio section 2
.bio-section-2{
  .bio-statement{
  }
  p{
    font-family: 'franklin-gothic-urw';
    font-weight: 400;
    color: $blue-500;
    padding: 0 10px;

  }
}

// contact buttons
.contact-btn-wrapper{
  padding-top: 10px;
  margin-bottom: 30px;
  ul{
    @extend .reg-list;
    text-align: center;
    li{
      font-family: 'franklin-gothic-urw';
      font-weight: 400;
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      line-height: 50px;
      //border: 1px solid $blue-400;
      background: $blue-500;
      margin: 0px 4px;
      a{
        color:#fff;
        font-size: 28px;
        position: relative;
        top:1px;
      }
      &.cv{
        font-size: 22px;
        line-height: 50px;
        position: relative;
        top:-2px;
        a{
          font-size: 20px;
          font-weight: 100;
          letter-spacing: 1px;
          top:0px;
        }
      }

    }
  }
}

// project page (seperate HTML file)

.back-to-projects{
  //border:1px solid $blue-200;
  background: $blue-100;
  padding: 4px 10px 4px 1px;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  top:0px;
  a{
    text-decoration: none;
    color: $blue-400;
    position: relative;
    top:0px;
    font-family: 'franklin-gothic-urw';
    font-size: 15px;
    font-weight: 400;
    &:visited{
      color: $blue-400;
    }
    i{
      margin-right: 6px;
      position: relative;
      top: 1px;
      font-size: 15px;
    }
  }
}

.work-title{
  font-size: 32px;
  color: $blue-500;
  text-align: center;
  margin: 30px auto 20px auto;
}

.work-section{opacity: 1; transition: 0.5s opacity; }
.work-content{
  p{
    font-family: 'franklin-gothic-urw';
    padding: $mobile-padding;
    color: $blue-500;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;

  }
  h3{
    font-family: 'martin gothic light';
    font-size: 28px;
    padding: $mobile-padding;
    margin: 0px 0px -6px 0px;
    text-align: center;

  }

}

.hidden-section{
  //opacity: 0;
}
.project-gallery{
  img{
    height: 300px;
  }
  li.dot{
    background: $blue-200;
  }
}

// project section
.project-title{
  font-size:32px;
  padding: $mobile-padding;
  margin: 20px 0px 0px 0px;
  text-align: center;
}
.project-subtitle{
  text-align: center;
  font-family: 'franklin-gothic-urw';
  font-size: 18px;
  font-weight: 200;
  margin: 0px;
  margin-bottom: 2px;
  padding: $mobile-padding;
}
.project-hr{
  margin: 20px auto 20px auto;
  width: 80%;
  border:none;
  border-top: 1px solid #ccc;

}
.project-gallery{
  margin-bottom: 50px;
}

// footer
footer{
  width: 100%;
  height: 200px;
  background: $blue-450;
  display: table;
  table-layout: fixed;
  .row-mobile-full{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .col{
    height: 100%;
    display: table-cell;
    padding: 0;
    margin: 0;
    vertical-align: middle;
  }

  // project image + info
  .col-2-mobile{
    position: relative;
     .footer-project-img{
      height: 100%;
      width: 50px;
      position: absolute;
      top:0px;
      left:0px;
      background: url(../img/surf.jpg);
      background-size: cover; 
     }
     h1,h2{
      color: #fff;
      font-family: 'franklin-gothic-urw';
      font-size: 14px;
      font-weight: 100;
      margin: 0px;
      position: absolute;
      left: 60px;
      top:9px;
     }
     h2{
      top:26px;
     }
     
    }
  .footer-left-side{
    text-align: center;
    // width:35%;
    span{
      display: inline-block;
      color:white;
      font-family: 'franklin-gothic-urw';
      font-weight: 100;
      padding: 10px;
      border: 1px solid #fff;
      border-radius: 8px;
    }
  }
  .footer-right-side{
    a{
      display: table-cell;
      width: 100%;
    }
    .col-2-mobile{
      height: 50px;
      display: block;
    }
  }
  .footer-home-btn{
    vertical-align: middle;
  }
}
// first point break
@media (min-width: $first-break) {
  
  div.mobile-nav, nav{display: none;}
  .desktop-nav{
    display: block;
    position: fixed;
    z-index: 999;
    top:20px;
    left:20px;
    transition:0.2s left;
    h1{
      margin: 0;
      line-height: 16px;
      margin-bottom: 10px;
      font-size: 22px;

    }
    h2{
      display: block;
      font-family: 'franklin-gothic-urw';
      font-size: 16px;
      line-height: 16px;
      font-weight: 300;
      margin: 0;
      margin-top: 2px;
    }
    ul.nav-list-desktop{
      padding: 0;
      margin: 0;
      list-style: none;
      text-indent: 0;
      margin-top: 20px;
      font-family: 'franklin-gothic-urw';
      li{
        padding: 0;
        margin: 0;
        margin-bottom: 4px;
        text-indent: 0;
        font-size: 16px;
        font-weight: 300;
        a{
          text-decoration: underline;
          color:#333;
          &:active{
            color: #333;
          }
        }
      }
    }
  }
  .hide-desktop-nav{
    left: -200px;
  }
  nav{
    background: none;
    position: absolute;
    top: 20px;
    left: 20px;
    border: none;
    padding: 0;

  }
  .menu-header-wrapper{
    .menu-icon{
      display: none;
    }
  }

  .type-set{
    background: none;
    height: auto;
    z-index: 9999;
    h1{


    }
  }
  .canvas-container{
    position: relative;
    height: 100vh;
    h1{
      position: absolute;
      max-width: 66%;
      left: 0px;
      top:189px;
      margin: 0 auto;
      font-size: 54px;
      line-height: 60px;
      color: #000;
    }
  }
  h1.section-title{
    font-size: 48px;
  }
  .bio-section{
    .col-2-mobile{
      h1{font-size: 60px;}
    }
  }


// work section
#work{
  top: -70px;
}
.work-section{
}
.work-item{
  position: relative;
  width: 40%;
  height: 300px;
  display: inline-block;
  margin: 20px;
  .work-image{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #ccc;
  }
  .work-info{
    position: absolute;
    top: auto;
    right: 16px;
    bottom: 10px;
    h1,h2{
      margin: 0;
      text-align: right;
      font-family: $franklin;
      font-size: 24px;
      color: $blue-500;

    }
    h1{
    }
    h2{
      font-weight: 400;
    }

  }
} // end of work item

// bio section
.bio-section{
  .profile-pic{
    background: url(../img/profile.png);
  }
}
.bio-section-2{
  .bio-statement{
    width: 100%;
    margin: 0 auto;
    display: block;
    p{
      font-family: 'franklin-gothic-urw';
      font-weight: 100;
      font-size: 24px;
      line-height: 32px;
      color: $blue-500;
      padding: 0 10px;
      max-width: 800px;
      margin: 0 auto;
      margin-bottom: 20px;


    }
  }
}
  .project-gallery .col{
    background: #fff;
    padding: 0 6px;
    text-align: center;
    overflow: hidden;
  }
  
} // end of media query





